<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seattle Grace Hospital</title>
    <link rel="stylesheet" type="text/css" href="/css/table_styling.css">
    <link rel="stylesheet" type="text/css" href="/css/index_hospitalStaff.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<section class="et-hero-tabs">
    <h1>PATIENT APPOINTMENT BILLS</h1>
    <h3>Management System</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#patients-section">View Result</a>
        <a class="et-hero-tab" th:href="@{/hospitalBillingSystems}">Lab Test Bills</a>
        <a class="et-hero-tab" th:href="@{/hospitalBillingSystems/appointments}">Appointment Bills</a>
        <a class="et-hero-tab" th:href="@{/hospitalBillingSystems/select_patient}">Search Test Bills For Patient</a>
        <a class="et-hero-tab" th:href="@{/hospitalBillingSystems/select_patient_for_appointment}">Search Appointment
            Bills For Patient</a>
        <a class="et-hero-tab" th:href="@{/index_hospitalStaff}">Home</a>
    </div>
    <span class="et-hero-tab-slider"></span>
</section>

<main class="et-main">
    <table class="table table-bordered" id="patients-section" style="width: 90%;margin-left: 5%;">
        <thead class="thead-dark">
        <tr>
            <th>Appointment ID</th>
            <th>Patient ID</th>
            <th>Doctor ID</th>
            <th>Date</th>
            <th>Examination Room</th>
            <th>Total Cost</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="instance : ${appointmentBills}">
            <tr>
                <td>[[${instance.key.id}]]</td>
                <td>[[${instance.key.patient.id}]]</td>
                <td>[[${instance.key.doctor.id}]]</td>
                <td>[[${instance.key.date}]]</td>
                <td>[[${instance.key.examinationRoom.id}]]</td>
                <td>[[${instance.value}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/hospital_management_navbar.js"></script>
</body>
</html>
