<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/em_form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body>
<div class="login-container" style="margin-top: 1%; margin-bottom: 2%;">
    <div class="form-container">
        <form th:action="@{/hospitalRooms/new}" method="get" style="margin-top: 35%;">

            <label for="roomType">Choose Room Type:</label>
            <select id="roomType" name="roomType" required style="margin-bottom: 10%;">
                <option value="examination">Examination Room</option>
                <option value="admission">Admission Room</option>
            </select>
            <button type="submit" class="btn button-primary m-2">Save</button>
            <button type="button" class="btn button-secondary m-2" onclick="cancelForm()">Cancel</button>
        </form>

    </div>
</div>
</body>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/hospitalRooms}]]";
    }
</script>
</html>