<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Manage Hospital Rooms</title>
    <link rel="stylesheet" type="text/css" href="/css/table_page_style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="background-image: url('https://media.istockphoto.com/id/1282880747/photo/digitally-rendered-image-of-an-empty-hospital-intensive-care-unit.jpg?s=612x612&w=0&k=20&c=cPNnzfgfOvcVMxaj-gWzHnbVLvJT5G3LNIWTKXU7tXg=')">
<div class="sidenav">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-DDGgfDY3xH9zwOYOBKlSTdk8Wm6eGNsMfw&usqp=CAU" alt="Profile Image">
    <a class="h4" style="margin-top: 10%" th:href="@{/index_hospitalStaff}">Home Page</a>
    <a class="h4" th:href="@{/hospitalRooms/chooseType}">Add New hospitalRoom</a>
</div>
<div class="main">
    <div class="container-fluid text-center">
        <div class="title-box">
            <h2>Hospital Rooms</h2> <!-- Add title "Doctors" -->
        </div>

        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Available</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="hospitalRoom : ${listHospitalRooms}">
                    <tr>
                        <td>[[${hospitalRoom.id}]]</td>
                        <td>[[${hospitalRoom.roomNumber}]]</td>
                        <td th:text="${hospitalRoom.getClass().getSimpleName()}"></td>
                        <td>[[${hospitalRoom.available}]]</td>
                        <td>
                            <a class="h4" style="font-size: 14px; padding: 5px 10px;" th:href="@{'/hospitalRooms/delete/' + ${hospitalRoom.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>

                </tbody>
            </table>

        </div>
    </div>
</div>

</body>
</html>