<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seattle Grace Hospital</title>
    <link rel="stylesheet" type="text/css" href="/css/table_styling.css">
    <link rel="stylesheet" type="text/css" href="/css/index_hospitalStaff.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<section class="et-hero-tabs">
    <h1>HOSPITAL ROOMS MANAGEMENT</h1>
    <h3>Management System</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#hospital-rooms-section">View Rooms</a>
        <a class="et-hero-tab" th:href="@{/hospitalRooms/chooseType}">Add New Room</a>
        <a class="et-hero-tab" th:href="@{/index_hospitalStaff}">Home</a>
    </div>
    <span class="et-hero-tab-slider"></span>
</section>

<main class="et-main">
    <table class="table table-bordered" id="hospital-rooms-section" style="width: 90%;margin-left: 5%;">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Available</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="hospitalRoom : ${listHospitalRooms}">
            <tr>
                <td>[[${hospitalRoom.id}]]</td>
                <td>[[${hospitalRoom.roomNumber}]]</td>
                <td th:text="${hospitalRoom.getClass().getSimpleName()}"></td>
                <td>[[${hospitalRoom.available}]]</td>
                <td>
                    <a class="h4" style="font-size: 14px; padding: 5px 10px;"
                       th:href="@{'/hospitalRooms/delete/' + ${hospitalRoom.id}}">Delete</a>
                </td>
            </tr>
        </th:block>

        </tbody>
    </table>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/hospital_management_navbar.js"></script>

</body>
</html>
