body {
    background-color: #002e4d; /* Set the background color */
    color: white; /* Set text color */
    font-family: Arial, sans-serif; /* Set font family */
    font-size: 16.5px; /* Set font size */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Boxes */
.box {
    position: absolute;
    background-color: rgba(58, 121, 162, 0.53);
    width: 20%;
    height: 200px;
    padding: 10px 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 16.5px;
    color: white;
    margin: 5% 13%; /* Adjusted margin */
    left: 12%; /* Adjusted left position */
    border-radius: 15px;
}

.box h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box2 {
    position: absolute;
    background-color: rgb(62, 112, 143);
    width: 20%;
    height: 200px;
    padding: 10px 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 16.5px;
    color: white;
    margin: 5% 11%; /* Adjusted margin */
    left: 41%; /* Adjusted left position */
    border-radius: 15px;
}
.box2 h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box3 {
    position: absolute;
    background-color: rgb(27, 69, 101);
    width: 20%;
    height: 200px;
    padding: 10px 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 16.5px;
    color: white;
    margin: 5% 8%; /* Adjusted margin */
    left: 70%; /* Adjusted left position */
    border-radius: 15px;
}
.box3 h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box:hover, .box2:hover, .box3:hover {
    background-color: rgba(50, 105, 138, 0.6);
    transition: background-color 0.3s ease;
}

.box a, .box2 a, .box3 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.box:hover a, .box2:hover a, .box3:hover a {
    color: #004d99;
}