<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style="background: rgb(4, 48, 77);">
<div class="login-container" style="margin-top: 3%;">
    <div class="form-container">
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required placeholder="Username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="Password">

            <button type="submit">Log in</button>
        </form>
        <p th:if="${error}" style="color: red; margin-top: 10px;" th:text="${error}"></p>
        <div class="text-muted">Don't have an account? <a href="/sign_up">Sign up</a></div>
    </div>
</div>
</body>
</html>
